* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-image: url("../img/pattern.jpg");
}

header {
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5264c7;
}

header nav ul li {
  margin-right: 30px;
}

section {
  height: 150vh;
  margin-top: 50px;
}

section h1 {
  text-align: center;
}

#article-list {
  margin: 200px;
  margin-top: 150px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#article-list article a h3 {
  margin-bottom: 25px;
}

article {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 25px;
  border-bottom: black solid 3px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
